

body {
	background-color: #fff;
}

.navbar-default {
    background-color: #1e1111;
    border-color: #e7e7e7;
}

.navbar-default .navbar-nav>li>a {
    color: #f5f5f5;
}

.navbar-default .navbar-brand {
    color: #f5f5f5;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    /*color: #f5f5f5;*/
        color: #66CDAA;
    background-color: #f5f5f5;
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0px;
    border: 1px solid transparent;

/*.nav> li >a:hover {
    background-color:#FCC;
}*/

/*.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {*/
    /*color: #333;*/
    /*background-color: transparent;*/
}

.center-block {
    display: block;
    margin-top: 20px;
    margin-left: auto;
}


.item {
height: 350px;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
}


#berries {
    background-image: url("c1.jpeg");
}

#rose {
   background-image: url("c2.jpeg");  
}

#girl {
      background-image: url("c3.jpeg");  
}

#phone {
       background-image: url("tech.jpeg");  
}

a {
    color: black;
}

.img-thumbnail {
    max-width: 220px;
    height: 150px;
}

#article1 {
    max-width: 450px;
    height: 250px;
    margin-top: 20px;
}

#article2 {
    max-width: 450px;
    height: 250px;
    margin-top: 20px;
}
#article3 {
    max-width: 450px;
    height: 250px;
    margin-top: 20px;
}

img {
    vertical-align: super;
}

.h4, .h5, .h6, h4, h5, h6 {
    margin-top: 30px;
    margin-bottom: 10px;
}

/* mouse over link */
a:hover {
    color: #66CDAA;
}

/* selected link */
a:active {
    color: #708090;
}


.col-xs-12 {
    position: relative;
    margin-top: 20px;
}


